body {
  margin: 0 auto;
  max-width: 550px;
  padding: 0;
}
#root {
   max-width: 550px;
   padding: 0;
}
.header-traveljournal {
  display: flex;
  margin: 0 auto;
  background-color: #F55A5A;
  align-items: center;
}
.navBar-traveljournal {
  margin: 0;
  padding: 0;
  font-family: inter;
  display: flex;
  align-items: center;
  color: #FFFFFF;
}
.logo {
  width: 24px;
  height: 24px;
}




