body {
  margin: 0 auto;
  max-width: 550px;
  padding: 0;
}
#root {
   max-width: 550px;
   padding: 0;
}
.header-traveljournal {
  display: flex;
  margin: 0 auto;
  background-color: #F55A5A;
  height: 3.4375rem;
  justify-content: center;
  align-items: center;
}
.navBar-traveljournal {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  color: #FFFFFF;
}
.logo {
  width: 24px;
  height: 24px;
}
.textLogo {
  color: #FFF;
  font-family: Inter;
  font-size: 0.90381rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.06781rem;
}
.entry-container {
  margin: 0 auto;
  display: flex;
  margin-left: 2.5rem;
  margin-bottom: 1.75 rem;
  margin-top: 3.25rem;
}
.entry-image {
  width: 7.8125rem;
  height: 10.5rem;
  border-radius: 0.3125rem;
 
}
.entry-body {
  margin-left: 1.19rem;
}
.entry-location {
  justify-content: flex-start;
  margin: 0 auto;
  display: flex;
}
.marker-img {
  width: 0.4375rem;
  height: 0.59656rem;
  fill: #DADADA;
  margin-right: 3.55px;
}
.marker-text {
  color: #2B283A;
  font-family: Inter;
  font-size: 0.64rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.10881rem;
  text-transform: uppercase;
}
.marker-link {
  margin-left: 0.19rem;
  color: #918E9B;
  font-family: Inter;
  font-size: 0.64rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}
.entry-title {
  color: #2B283A;
  font-family: Inter;
  font-size: 1.5625rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.entry-date {
  color: #2B283A;
  font-family: Inter;
  font-size: 0.64rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.entry-info {
  color: #2B283A;
  font-family: Inter;
  font-size: 0.64rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 0.96rem */
}